.container
{
    width: 100%;
    margin-bottom: 3rem;
}
.containers
{
    display: flex;
    background: #E2F3FF;
    padding: 40px;
    height: 80vh;
}
.home{
    padding-bottom: 40px;
    transform: translateY(10%);
}
.home>:nth-child(1)
{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
font-size: 72px;
line-height: 87px;
}
.home>:nth-child(2)
{
    font-weight: 200;
    font-size: 24px;
    font-style: normal;
    font-family: Avenir;
}

.btn
{
    display: flex;
    border: none;
    background: #003CBE;
    border-radius: 8px;
    color: white;
    width: 184px;
    height: 49px;
    justify-content: center;
    align-items: center;
    
}
 .btn:hover{
    background: #0cafff;
    cursor: pointer;
 }




/* media queries */
@media only screen and (max-width: 1006px) {
    .container{
        height: 70vh;
        margin-bottom: rem;

    }
    .img {
        display: none;

    }
  }
